$nunito-family: "Nunito", sans-serif;

$primary-color: #f4e041;
$primary-light: #ffe302;
$secondary-color: #00bdd3;
$gray-color: #b4b4b4;
$border-color: #d0cfcf;
$field-color: #7e7e7e;
$body-color: #f8f8f8;
$error-color: #cb3d40;
